<?xml version="1.0"?>

<model>
  <name>workstation_sc60</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>pnc_nav_sim</name>
  </author>

  <description>
    SC60 service station (vertical front tag 200, tag25h7_00200; body 0.2x0.4x1.05).
  </description>
</model>
